.modal-back{
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  display: none;
  top: 0;
  left: 0;
  position: fixed;
}

.modal{
  width:30vw;
  height: 20vh;
  background-color: white;
  background-position: 50% 50%;
}

.modal-close{
  text-align: right;
}