.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

*{
  background-color: ghostwhite;
  text-align: center;
}

hr{
  width:90vw;
  border: 1px solid rgb(217, 217, 223);
}

input{
  width: 50vw;
  height: 5vh;
  border:3px solid black;
  text-align: left;
  font-size: 14px;
}

::placeholder{
  font-style: italic;
  font-size: 14px;
  color:rgba(128, 128, 128, 0.68);
}

.flex-item{
  font-weight: bold;
  flex:1;
}

.flex-item>hr{
  width:6vw;
  border: 2px solid rgb(217, 217, 223);
}

input:focus{
  border: 3px solid dodgerblue;
  outline: none;
}

ul{
  list-style: none;
  text-align: left;
  margin-left: -110px;
}

ul>hr{
  width:11vw;
  transform: translate(40px);
  border: 2px solid rgb(217, 217, 223);
}

button{
  transform: translate(80px);
  background-color: rgb(217, 217, 223);
  border:none;

  width: 40px;
  height: 25px;

  font-size: 12px;

  position:absolute;
  right: 370px;
  top:0;
}

li{
  position: relative;
  padding-left: 370px;
  text-align: left;
}